<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Shopix</title>

    <!--TODO: Need Local / Minify-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|PT+Serif"
          rel="stylesheet">

    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/shopix.css">
</head>
<body>

<!--TODO: Remove Include HTML-->
<div w3-include-html="/components/_topbar.html"></div>
<div w3-include-html="/components/_navbar.html"></div>

<section class="content-payment">
    <div class="container pb-3">
        <p class="section-category">Money Transfer</p>
        <div class="row">
            <div class="col col-8">
                <h5>
                    <strong>Instruction</strong>
                </h5>
                <div>
                    <ul style="list-style: circle">
                        <li>We will check submitted payment information 4 times per day</li>
                        <li>Please transfer the money with decimal number.</li>
                        <li>You can track your payment inform status
                            <a href="/components/users/my-order.html" title="">HERE</a>
                        </li>
                    </ul>
                </div>
                <hr>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Bank</th>
                        <th>Branch</th>
                        <th>Account number</th>
                        <th>Account name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>KBank</td>
                        <td>Central Bangna</td>
                        <td>xxx-xxx-xxx-xxx</td>
                        <td>xxxxxx xxxxxx</td>
                    </tr>
                    <tr>
                        <td>SCB</td>
                        <td>Central Bangna</td>
                        <td>xxx-xxx-xxx-xxx</td>
                        <td>xxxxxx xxxxxx</td>
                    </tr>
                    <tr>
                        <td>KTC</td>
                        <td>Central Bangna</td>
                        <td>xxx-xxx-xxx-xxx</td>
                        <td>xxxxxx xxxxxx</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="col col-4">
                <h5>
                    <strong>Payment inform</strong>
                </h5>
                <div class="form-group">
                    <label class="d-block">Transferred to</label>
                    <label class="d-block pl-2">
                        <input type="radio" name="bank_account" value="KBANK">
                        &nbsp;KBank
                    </label>

                    <label class="d-block pl-2">
                        <input type="radio" name="bank_account" value="SCB">
                        &nbsp;SCB
                    </label>

                    <label class="d-block pl-2">
                        <input type="radio" name="bank_account" value="KTC">
                        &nbsp;KTC
                    </label>
                </div>
                <div class="form-group">
                    <label for="datetimepicker">Date of Payment</label>
                    <input id="datetimepicker" name="date" type="text" class="form-control" value="2017-11-24 20:22"
                           autocomplete="off" placeholder="Click to Choose Time">
                </div>
                
                <div class="form-group">
                    <label for="amount">Amount</label>
                    <input id="amount" name="amount" type="text" class="form-control" value="" autocomplete="off"
                           placeholder="Transferred Money. For example, 2000.18">
                </div>
                <hr>
                <div>
                    <button type="button" disabled class="btn btn-primary-custom" data-toggle="tooltip" data-placement="top" title="Please Login First">
                        Submit Payment
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <!--TODO: Remove Include HTML-->
    <div w3-include-html="/components/_footer-top.html"></div>
    <div w3-include-html="/components/_footer-bottom.html"></div>
</footer>

<!-- JavaScript includes -->
<!--TODO: Need Local / Minify-->
<script src="../../assets/js/jquery-3.2.1.min.js"></script>
<script src="../../assets/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/js/shopix.js"></script>

<!--TODO: Remove Include HTML-->
<script src="https://www.w3schools.com/lib/w3.js"></script>
<script>
    w3.includeHTML();
</script>

</body>
</html>