<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Shopix</title>

    <!--TODO: Need Local / Minify-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|PT+Serif"
          rel="stylesheet">

    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/shopix.css">
</head>
<body>

<!--TODO: Remove Include HTML-->
<div w3-include-html="/components/_topbar.html"></div>
<div w3-include-html="/components/_navbar.html"></div>

<section class="content-user-module">
    <div class="container pb-3">
        <p class="section-category">Welcome, Sadayu Thongchan</p>
        <div class="row justify-content-center">
            <div class="col col-12 col-md-8 col-lg-6">
                <div class="create-an-account">
                    <form>
                        <div class="form-group">
                            <label for="firstName">Change First Name</label>
                            <input type="text" class="form-control" id="firstName" aria-describedby="emailHelp"
                                   placeholder="Enter First Name" value="Peter">
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="lastName">Change Last Name</label>
                            <input type="text" class="form-control" id="lastName" aria-describedby="emailHelp"
                                   placeholder="Enter Last Name" value="King">
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="email">Change Email ID</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                                   placeholder="Enter email" value="peterking@example.com">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="new-password">New Password</label>
                            <input type="password" class="form-control" id="new-password" placeholder="Password">
                        </div>

                        <div class="form-group">
                            <label for="repeat-password">Repeat Password</label>
                            <input type="password" class="form-control" id="repeat-password" placeholder="Password">
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary-custom text-uppercase">Update an Account
                            </button>

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</section>

<footer class="footer">
    <!--TODO: Remove Include HTML-->
    <div w3-include-html="/components/_footer-top.html"></div>
    <div w3-include-html="/components/_footer-bottom.html"></div>
</footer>

<!-- JavaScript includes -->
<!--TODO: Need Local / Minify-->
<script src="../../assets/js/jquery-3.2.1.min.js"></script>
<script src="../../assets/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/js/shopix.js"></script>

<!--TODO: Remove Include HTML-->
<script src="https://www.w3schools.com/lib/w3.js"></script>
<script>
    w3.includeHTML();
</script>

</body>
</html>