<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Shopix</title>

    <!--TODO: Need Local / Minify-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|PT+Serif"
          rel="stylesheet">

    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/shopix.css">
</head>
<body>

<!--TODO: Remove Include HTML-->
<div w3-include-html="/components/_topbar.html"></div>
<div w3-include-html="/components/_navbar.html"></div>

<section class="content-user-module">
    <div class="container">
        <p class="section-category">Shopping Cart</p>
        <div class="table-responsive">
            <table class="table table-condensed">
                <thead>
                <tr class="">
                    <th class="">Item</th>
                    <th class=""></th>
                    <th class="">Price</th>
                    <th class="">Quantity</th>
                    <th class="">Total</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="align-middle">
                        <a href="/components/product/product-detail.html"><img src="/assets/images/sample/sample-04.png"
                                                                               alt="" class="img-fluid product-image"
                                                                               height="50"></a>
                    </td>
                    <td class="align-middle">
                        <h6 class="m-0"><a href="/components/product/product-detail.html">White Blended Cotton</a></h6>
                        <p class="p-0 m-0 small">Size: L</p>
                        <p class="p-0 m-0 small">Color: Red</p>
                    </td>
                    <td class="align-middle">
                        <p>฿590</p>
                    </td>
                    <td class="align-middle">
                        <div class="input-group number-spinner">
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-primary-custom has-cursor-pointer" data-dir="dwn">
                                    <span class="">-</span>
                                </button>
                            </span>
                            <input type="text" class="form-control form-control-sm text-center outline-primary-custom"
                                   value="1">
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-primary-custom has-cursor-pointer" data-dir="up">
                                    <span class="">+</span>
                                </button>
                            </span>
                        </div>
                    </td>
                    <td class="align-middle">
                        <p class="">฿590</p>
                    </td>
                    <td class="align-middle text-right">
                        <a class="btn btn-outline-primary-custom btn-sm" href="#"><i class="fa fa-times"></i></a>
                    </td>
                </tr>

                <tr>
                    <td class="align-middle">
                        <a href="/components/product/product-detail.html"><img src="/assets/images/sample/sample-05.png"
                                                                               alt="" class="img-fluid product-image"
                                                                               height="50"></a>
                    </td>
                    <td class="align-middle">
                        <h6 class="m-0"><a href="/components/product/product-detail.html">Neutrogena Oil-Free
                            Moisturizer</a></h6>
                        <p class="p-0 m-0 small">Size: L</p>
                        <p class="p-0 m-0 small">Color: Red</p>
                    </td>
                    <td class="align-middle">
                        <p>฿590</p>
                    </td>
                    <td class="align-middle">
                        <div class="input-group number-spinner">
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-primary-custom has-cursor-pointer" data-dir="dwn">
                                    <span class="">-</span>
                                </button>
                            </span>
                            <input type="text" class="form-control form-control-sm text-center outline-primary-custom"
                                   value="1">
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-primary-custom has-cursor-pointer" data-dir="up">
                                    <span class="">+</span>
                                </button>
                            </span>
                        </div>
                    </td>
                    <td class="align-middle">
                        <p class="">฿590</p>
                    </td>
                    <td class="align-middle text-right">
                        <a class="btn btn-outline-primary-custom btn-sm" href="#"><i class="fa fa-times"></i></a>
                    </td>
                </tr>

                <tr>
                    <td class="align-middle">
                        <a href="/components/product/product-detail.html"><img src="/assets/images/sample/sample-06.png"
                                                                               alt="" class="img-fluid product-image"
                                                                               height="50"></a>
                    </td>
                    <td class="align-middle">
                        <h6 class="m-0"><a href="/components/product/product-detail.html">Vintage Set</a></h6>
                        <p class="p-0 m-0 small">Size: S</p>
                        <p class="p-0 m-0 small">Color: Green</p>
                    </td>
                    <td class="align-middle">
                        <p>฿590</p>
                    </td>
                    <td class="align-middle">
                        <div class="input-group number-spinner">
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-primary-custom has-cursor-pointer" data-dir="dwn">
                                    <span class="">-</span>
                                </button>
                            </span>
                            <input type="text" class="form-control form-control-sm text-center outline-primary-custom"
                                   value="1">
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-primary-custom has-cursor-pointer" data-dir="up">
                                    <span class="">+</span>
                                </button>
                            </span>
                        </div>
                    </td>
                    <td class="align-middle">
                        <p class="">฿590</p>
                    </td>
                    <td class="align-middle text-right">
                        <a class="btn btn-outline-primary-custom btn-sm" href="#"><i class="fa fa-times"></i></a>
                    </td>
                </tr>

                <tr>
                    <td colspan="6" class="text-right">
                        <div class="row">
                            <div class="col-10">
                                Subtotal:
                            </div>
                            <div class="col-2 pl-0">
                                <span>฿3,000</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-10">
                                Shipping:
                            </div>
                            <div class="col-2 pl-0">
                                <span>฿0</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-10">
                                Total:
                            </div>
                            <div class="col-2 pl-0">
                                <strong style="font-size: 1.2em">฿3,000</strong>
                            </div>
                        </div>
                        <button class="btn btn-primary-custom mt-1">Checkout</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row justify-content-center pb-3">
            <nav aria-label="pagination">
                <ul class="pagination pagination-custom">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<footer class="footer">
    <!--TODO: Remove Include HTML-->
    <div w3-include-html="/components/_footer-top.html"></div>
    <div w3-include-html="/components/_footer-bottom.html"></div>
</footer>

<!-- JavaScript includes -->
<!--TODO: Need Local / Minify-->
<script src="../../assets/js/jquery-3.2.1.min.js"></script>
<script src="../../assets/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/js/shopix.js"></script>

<!--TODO: Remove Include HTML-->
<script src="https://www.w3schools.com/lib/w3.js"></script>
<script>
    w3.includeHTML();
</script>

</body>
</html>