<div class="footer-1">
    <div class="container">
        <div class="row">
            <div class="col col-lg-3 col-md-6 col-12 mb-3">
                <h5 class="text-uppercase pb-1">Shop Shopix</h5>
                <span class="small">Shopix is leading online shop offering a fast, secure and convenient online shopping experience.</span>
            </div>
            <div class="col col-lg-3 col-md-6 col-12 mb-3">
                <div class="row small pb-3">
                    <div class="col-12 d-flex flex-row align-items-center">
                        <i class="fa fa-check fa-2x footer-icon" aria-hidden="true"></i>
                        <div>
                            <strong>100% ORIGINAL</strong> guarantee for all products at shopix.com
                        </div>
                    </div>
                </div>
                <div class="row small pb-3">
                    <div class="col-12 d-flex flex-row align-items-center">
                        <i class="fa fa-truck fa-2x footer-icon" aria-hidden="true"></i>
                        <div>
                            Get <strong>free</strong> delivery for every order above
                        </div>
                    </div>
                </div>
                <div class="row small pb-3">
                    <div class="col-12 d-flex flex-row align-items-center">
                        <i class="fa fa-info-circle fa-2x footer-icon" aria-hidden="true"></i>
                        <div>
                            <strong>24/7</strong> Customer Service
                        </div>
                    </div>
                </div>
                <div class="row small pb-3">
                    <div class="col-12 d-flex flex-row align-items-center">
                        <i class="fa fa-refresh fa-2x footer-icon" aria-hidden="true"></i>
                        <div>
                            Easy <strong>return</strong> policy
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-6 col-12 mb-3">
                <h5 class="text-uppercase pb-1">Useful links</h5>
                <ul class="list-unstyled small">
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;<a href="/index.html">Home</a></li>
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;<a href="/components/product/products.html">Products</a>
                    </li>
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;<a href="/components/payment/money-transfer.html">Money
                        Transfer</a>
                    </li>
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;<a href="/components/users/my-account.html">Account</a>
                    </li>
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;<a href="/components/users/shopping-cart.html">Shopping
                        Cart</a></li>
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;<a href="/components/users/wish-list.html">Wish
                        List</a></li>
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;<a href="/components/general/contact.html">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col col-lg-3 col-md-6 col-12 mb-3">
                <h5 class="text-uppercase pb-1">Contact us</h5>
                <div class="row small pb-3">
                    <div class="col-12 d-flex flex-row align-items-center">
                        <i class="fa fa-map-marker fa-2x footer-icon" aria-hidden="true"></i>
                        <div>
                            940 Cooke Court, Chilton, Illinois, 4722
                        </div>
                    </div>
                </div>
                <div class="row small pb-3">
                    <div class="col-12 d-flex flex-row align-items-center">
                        <i class="fa fa-phone fa-2x footer-icon" aria-hidden="true"></i>
                        <div>
                            +1 (345) 464-3030 <br> +1 (867) 464-3030
                        </div>
                    </div>
                </div>
                <div class="row small pb-3">
                    <div class="col-12 d-flex flex-row align-items-center">
                        <i class="fa fa-envelope-o fa-2x footer-icon" aria-hidden="true"></i>
                        <div>
                            hansongarner@example.com <br> peterking@example.com
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
