<div class="footer-2">
    <div class="container">
        <div class="row">
            <div class="col-6 align-self-center">
                <span class="small">© 2017 Shop Shopix Powered by Shopix.com All Rights Reserved.</span>
            </div>
            <div class="col-6">
                <ul class="nav justify-content-end">
                    <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-facebook fa-lg"></i></a>
                    </li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-instagram fa-lg"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>