<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Shopix</title>

    <!--TODO: Need Local / Minify-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/shopix.css">
</head>
<body>

<!--TODO: Remove Include HTML-->
<div w3-include-html="/components/_topbar.html"></div>
<div w3-include-html="/components/_navbar.html"></div>

<section class="content-products">
    <p class="section-category">All Products</p>
    <div class="container">
        <div class="row">
            <div class="col col-12 text-right pb-3">
                <div class="dropdown show ">
                    <a class="btn btn-primary-custom btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuSort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Price: High to Low
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuSort">
                        <a class="dropdown-item" href="#">Newest</a>
                        <a class="dropdown-item" href="#">Popular</a>
                        <a class="dropdown-item" href="#">Price: Low to High</a>
                        <a class="dropdown-item" href="#">Price: High to Low</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row product-list">
            <div class="col col-lg-3 col-md-6 col-12 mb-3">
                <div class="product-card">
                    <a href="/components/product/product-detail.html" class="d-block child-img-hover-zoom">
                        <div class="d-flex justify-content-end align-items-center">
                            <div class="base-price"><span>฿</span><span>2,229.50</span></div>
                            <div class="current-price"><span>฿</span><span>1,229.50</span></div>
                        </div>
                        <img class="product-image" src="/assets/images/sample/sample-05.png" alt="">
                        <div class="product-name">
                            Vintage Set
                        </div>
                    </a>
                    <div class="product-action">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>

                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-6 col-12 mb-3">
                <div class="product-card">
                    <a href="/components/product/product-detail.html" class="d-block child-img-hover-zoom">
                        <div class="d-flex justify-content-end align-items-center">
                            <div class="base-price"><span>฿</span><span>2,229.50</span></div>
                            <div class="current-price"><span>฿</span><span>1,229.50</span></div>
                        </div>
                        <img class="product-image" src="/assets/images/sample/sample-05.png" alt="">
                        <div class="product-name">
                            White Blended Cotton
                        </div>
                    </a>
                    <div class="product-action">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>

                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-6 col-12 mb-3">
                <div class="product-card">
                    <a href="/components/product/product-detail.html" class="d-block child-img-hover-zoom">
                        <div class="d-flex justify-content-end align-items-center">
                            <div class="base-price"><span>฿</span><span>2,229.50</span></div>
                            <div class="current-price"><span>฿</span><span>1,229.50</span></div>
                        </div>
                        <img class="product-image" src="/assets/images/sample/sample-05.png" alt="">
                        <div class="product-name">
                            White Blended Cotton
                        </div>
                    </a>
                    <div class="product-action">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>

                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-6 col-12 mb-3">
                <div class="product-card">
                    <a href="/components/product/product-detail.html" class="d-block child-img-hover-zoom">
                        <div class="d-flex justify-content-end align-items-center">
                            <div class="base-price"><span>฿</span><span>2,229.50</span></div>
                            <div class="current-price"><span>฿</span><span>1,229.50</span></div>
                        </div>
                        <img class="product-image" src="/assets/images/sample/sample-05.png" alt="">
                        <div class="product-name">
                            White Blended Cotton
                        </div>
                    </a>
                    <div class="product-action">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>

                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-6 col-12 mb-3">
                <div class="product-card">
                    <a href="/components/product/product-detail.html" class="d-block child-img-hover-zoom">
                        <div class="d-flex justify-content-end align-items-center">
                            <div class="base-price"><span>฿</span><span>2,229.50</span></div>
                            <div class="current-price"><span>฿</span><span>1,229.50</span></div>
                        </div>
                        <img class="product-image" src="/assets/images/sample/sample-06.png" alt="">
                        <div class="product-name">
                            Vintage Set
                        </div>
                    </a>
                    <div class="product-action">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>

                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-6 col-12 mb-3">
                <div class="product-card">
                    <a href="/components/product/product-detail.html" class="d-block child-img-hover-zoom">
                        <div class="d-flex justify-content-end align-items-center">
                            <div class="base-price"><span>฿</span><span>2,229.50</span></div>
                            <div class="current-price"><span>฿</span><span>1,229.50</span></div>
                        </div>
                        <img class="product-image" src="/assets/images/sample/sample-06.png" alt="">
                        <div class="product-name">
                            White Blended Cotton
                        </div>
                    </a>
                    <div class="product-action">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>

                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-6 col-12 mb-3">
                <div class="product-card">
                    <a href="/components/product/product-detail.html" class="d-block child-img-hover-zoom">
                        <div class="d-flex justify-content-end align-items-center">
                            <div class="base-price"><span>฿</span><span>2,229.50</span></div>
                            <div class="current-price"><span>฿</span><span>1,229.50</span></div>
                        </div>
                        <img class="product-image" src="/assets/images/sample/sample-06.png" alt="">
                        <div class="product-name">
                            White Blended Cotton
                        </div>
                    </a>
                    <div class="product-action">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>

                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-6 col-12 mb-3">
                <div class="product-card">
                    <a href="/components/product/product-detail.html" class="d-block child-img-hover-zoom">
                        <div class="d-flex justify-content-end align-items-center">
                            <div class="base-price"><span>฿</span><span>2,229.50</span></div>
                            <div class="current-price"><span>฿</span><span>1,229.50</span></div>
                        </div>
                        <img class="product-image" src="/assets/images/sample/sample-06.png" alt="">
                        <div class="product-name">
                            White Blended Cotton
                        </div>
                    </a>
                    <div class="product-action">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>

                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-6 col-12 mb-3">
                <div class="product-card">
                    <a href="/components/product/product-detail.html" class="d-block child-img-hover-zoom">
                        <div class="d-flex justify-content-end align-items-center">
                            <div class="base-price"><span>฿</span><span>2,229.50</span></div>
                            <div class="current-price"><span>฿</span><span>1,229.50</span></div>
                        </div>
                        <img class="product-image" src="/assets/images/sample/sample-06.png" alt="">
                        <div class="product-name">
                            White Blended Cotton
                        </div>
                    </a>
                    <div class="product-action">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>

                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-6 col-12 mb-3">
                <div class="product-card">
                    <a href="/components/product/product-detail.html" class="d-block child-img-hover-zoom">
                        <div class="d-flex justify-content-end align-items-center">
                            <div class="base-price"><span>฿</span><span>2,229.50</span></div>
                            <div class="current-price"><span>฿</span><span>1,229.50</span></div>
                        </div>
                        <img class="product-image" src="/assets/images/sample/sample-06.png" alt="">
                        <div class="product-name">
                            White Blended Cotton
                        </div>
                    </a>
                    <div class="product-action">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>

                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-6 col-12 mb-3">
                <div class="product-card">
                    <a href="/components/product/product-detail.html" class="d-block child-img-hover-zoom">
                        <div class="d-flex justify-content-end align-items-center">
                            <div class="base-price"><span>฿</span><span>2,229.50</span></div>
                            <div class="current-price"><span>฿</span><span>1,229.50</span></div>
                        </div>
                        <img class="product-image" src="/assets/images/sample/sample-06.png" alt="">
                        <div class="product-name">
                            White Blended Cotton
                        </div>
                    </a>
                    <div class="product-action">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>

                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-md-6 col-12 mb-3">
                <div class="product-card">
                    <a href="/components/product/product-detail.html" class="d-block child-img-hover-zoom">
                        <div class="d-flex justify-content-end align-items-center">
                            <div class="base-price"><span>฿</span><span>2,229.50</span></div>
                            <div class="current-price"><span>฿</span><span>1,229.50</span></div>
                        </div>
                        <img class="product-image" src="/assets/images/sample/sample-06.png" alt="">
                        <div class="product-name">
                            White Blended Cotton
                        </div>
                    </a>
                    <div class="product-action">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>

                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center pb-3">
            <nav aria-label="pagination">
                <ul class="pagination pagination-custom">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<footer class="footer">
    <!--TODO: Remove Include HTML-->
    <div w3-include-html="/components/_footer-top.html"></div>
    <div w3-include-html="/components/_footer-bottom.html"></div>
</footer>


<!-- JavaScript includes -->
<!--TODO: Need Local / Minify-->
<script src="/assets/js/jquery-3.2.1.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/shopix.js"></script>

<!--TODO: Remove Include HTML-->
<script src="https://www.w3schools.com/lib/w3.js"></script>
<script>
    w3.includeHTML();
</script>

</body>
</html>