<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Shopix</title>

    <!--TODO: Need Local / Minify-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|PT+Serif"
          rel="stylesheet">

    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/shopix.css">
</head>
<body>

<!--TODO: Remove Include HTML-->
<div w3-include-html="/components/_topbar.html"></div>
<div w3-include-html="/components/_navbar.html"></div>

<section class="content-xxxx">
    <div class="container">
            <div class="row pt-4 pb-4">
                <div class="col col-6 d-flex justify-content-center align-items-center">
                    <!--<div class="preview-pic tab-content">-->
                        <!--<div class="tab-pane active" id="pic-1"><img src="http://placekitten.com/400/252"/></div>-->
                        <!--<div class="tab-pane" id="pic-2"><img src="http://placekitten.com/400/252"/></div>-->
                        <!--<div class="tab-pane" id="pic-3"><img src="http://placekitten.com/400/252"/></div>-->
                        <!--<div class="tab-pane" id="pic-4"><img src="http://placekitten.com/400/252"/></div>-->
                        <!--<div class="tab-pane" id="pic-5"><img src="http://placekitten.com/400/252"/></div>-->
                    <!--</div>-->
                    <!--<ul class="preview-thumbnail nav nav-tabs">-->
                        <!--<li class="active"><a data-target="#pic-1" data-toggle="tab"><img-->
                                <!--src="http://placekitten.com/200/126"/></a></li>-->
                        <!--<li><a data-target="#pic-2" data-toggle="tab"><img src="http://placekitten.com/200/126"/></a>-->
                        <!--</li>-->
                        <!--<li><a data-target="#pic-3" data-toggle="tab"><img src="http://placekitten.com/200/126"/></a>-->
                        <!--</li>-->
                        <!--<li><a data-target="#pic-4" data-toggle="tab"><img src="http://placekitten.com/200/126"/></a>-->
                        <!--</li>-->
                        <!--<li><a data-target="#pic-5" data-toggle="tab"><img src="http://placekitten.com/200/126"/></a>-->
                        <!--</li>-->
                    <!--</ul>-->
                    <img src="/assets/images/sample/sample-06.png" alt="" class="img-fluid" style="max-height: 360px">
                </div>
                <div class="col col-6">
                    <h4 class="text-uppercase font-weight-bold">Neutrogena Oil-Free Moisturizer</h4>
                    <div class="pb-3">
                        <div class="small">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <span class="small">41 reviews</span>
                    </div>
                    <p class="">It's a lightweight, non-smelly, no-fuss moisturizer at a good price point, and it's totally effective, so honestly I'm a little smug about my using it.</p>
                    <h6 class="text-uppercase font-weight-bold">current price: <span>฿1800</span></h6>
                    <p class=""><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
                    <h6 class="text-uppercase font-weight-bold">sizes:</h6>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary-custom has-cursor-pointer active">
                            <input type="radio" name="color" autocomplete="off" checked> S
                        </label>
                        <label class="btn btn-primary-custom has-cursor-pointer">
                            <input type="radio" name="color" autocomplete="off"> M
                        </label>
                        <label class="btn btn-primary-custom has-cursor-pointer">
                            <input type="radio" name="color" autocomplete="off"> L
                        </label>
                    </div>
                    <h6 class="text-uppercase font-weight-bold">colors:</h6>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary-custom has-cursor-pointer active">
                            <input type="radio" name="size" autocomplete="off" checked> Red
                        </label>
                        <label class="btn btn-primary-custom has-cursor-pointer">
                            <input type="radio" name="size" autocomplete="off"> Green
                        </label>
                        <label class="btn btn-primary-custom">
                            <input type="radio" name="size" autocomplete="off"> Blue
                        </label>
                    </div>
                    <div class="pt-4">
                        <button class="btn btn-primary-custom has-cursor-pointer" type="button">Add to Cart</button>
                        <button class="btn btn-outline-primary-custom has-cursor-pointer" type="button"><span class="fa fa-heart"></span></button>
                    </div>
                </div>
            </div>
        </div>
</section>

<footer class="footer">
    <!--TODO: Remove Include HTML-->
    <div w3-include-html="/components/_footer-top.html"></div>
    <div w3-include-html="/components/_footer-bottom.html"></div>
</footer>

<!-- JavaScript includes -->
<!--TODO: Need Local / Minify-->
<script src="../../assets/js/jquery-3.2.1.slim.min.js"></script>
<script src="../../assets/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/js/shopix.js"></script>

<!--TODO: Remove Include HTML-->
<script src="https://www.w3schools.com/lib/w3.js"></script>
<script>
    w3.includeHTML();
</script>

</body>
</html>