<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Shopix</title>

    <!--TODO: Need Local / Minify-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|PT+Serif"
          rel="stylesheet">

    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/shopix.css">
</head>
<body>

<!--TODO: Remove Include HTML-->
<div w3-include-html="/components/_topbar.html"></div>
<div w3-include-html="/components/_navbar.html"></div>

<section class="content-contact">
    <div class="container pb-3">
        <p class="section-category">Get in Touch</p>
        <div class="row">
            <div class="col-md-7">
                <p>Please sincerely give me your opinions for this website.</p>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" name="" value="" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="" value="" placeholder="E-mail">
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control" name="" value="" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="" rows="3" placeholder="Message"></textarea>
                    </div>
                    <button class="btn btn-primary-custom" type="submit" name="button">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Submit
                    </button>
                </form>
            </div>
            <div class="col-md-5">
                <form>
                    <legend><i class="fa fa-building" aria-hidden="true"></i> Our Office</legend>
                    <hr>
                    <div class="row pb-1">
                        <div class="col-12 d-flex flex-row align-items-center">
                            <i class="fa fa-map-marker" style="min-width: 1.5em;" aria-hidden="true"></i>
                            <div>
                                940 Cooke Court, Chilton, Illinois, 4722
                            </div>
                        </div>
                    </div>
                    <div class="row pb-1">
                        <div class="col-12 d-flex flex-row align-items-center">
                            <i class="fa fa-phone" style="min-width: 1.5em;" aria-hidden="true"></i>
                            <div>
                                +1 (345) 464-3030 <br> +1 (867) 464-3030
                            </div>
                        </div>
                    </div>
                    <div class="row pb-1">
                        <div class="col-12 d-flex flex-row align-items-center">
                            <i class="fa fa-envelope-o" style="min-width: 1.5em;" aria-hidden="true"></i>
                            <div>
                                hansongarner@example.com <br> peterking@example.com
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <p class="section-category">Meet Us</p>
        <div class="row">
            <div class="col-12 text-center">
                <iframe class="map"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62016.65533732608!2d100.6255921552126!3d13.715969172680609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29febb4197545%3A0x425085f3d456a0f!2z4Lit4LmI4Lit4LiZ4LiZ4Li44LiK!5e0!3m2!1sth!2sth!4v1511544409846"
                        frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <!--TODO: Remove Include HTML-->
    <div w3-include-html="/components/_footer-top.html"></div>
    <div w3-include-html="/components/_footer-bottom.html"></div>
</footer>

<!-- JavaScript includes -->
<!--TODO: Need Local / Minify-->
<script src="../../assets/js/jquery-3.2.1.min.js"></script>
<script src="../../assets/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/js/shopix.js"></script>

<!--TODO: Remove Include HTML-->
<script src="https://www.w3schools.com/lib/w3.js"></script>
<script>
    w3.includeHTML();
</script>

</body>
</html>