// Dimensions
$media-query-sm:    575px;
$media-query-md:    767px;
$media-query-lg:    991px;
$media-query-xl:    1199px;

// Color Palette
$primary-color:     $violet;

$body-bg-color:     $white-smoke-2x;
$top-bg-color:      $primary-color;
$nav-bg-color:      $white;

$font-white:        $white-smoke;
$font-black:        $soft-black;
$font-grey:         $grey;
$font-grey-2x:      $grey-2x;